/* google font */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap');
/* __________ */

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu', sans-serif;
    background-color: #E4F0EC;
}

h1 {
    text-align: center;
    margin: 40px 0px;
    font-size: 50px;
}

#money {
    color: #e6b22f;
    font-size: 50px;
}

.money-bag {
    width: 50px;
    padding-top: 10px;
}

.main-section {
    width: 100%;
    height: auto;
    padding: 0px 50px;
    display: flex;
    overflow: hidden;
}

.img-part {
    width: 55%;
    /* background-color: red; */
    height: auto;
}

.img-part img {
    width: 100%;
    background-size: cover;
}

/* calculation part style */
.calc-part {
    width: 45%;
    height: auto;
    background-color: #d44b69e5;
    padding: 30px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.calc-part p {
    margin-bottom: 25px;
}

span {
    font-weight: bold;
    font-size: 15px;
}

input {
    padding: 7px;
    font-weight: bolder;
    font-size: 15px;
    letter-spacing: 1.5px;
    border-radius: 5px;
    border: none;
    background-color: #ffffffc2;
    margin-left: 15px;
    margin-bottom: 15px;
    width: 50%;

}

input:focus {
    outline: 4px solid #238053;
}

.all-inputs {
    width: 75%;
    text-align: right;
}

h2 {
    text-align: center;
    padding: 15px 0px;
}
.span{
    font-size: 24px;
}

.calculate-btn {
    width: 100%;
    text-align: center;
}

.calculate-btn button {
    border: none;
    padding: 10px 40px;
    text-align: center;
    border-radius: 6px;
    cursor: pointer;
    letter-spacing: 1px;
    font-weight: bold;
    background-color: #D55B76;
    margin-bottom: 20px;
    border: 4px solid #ffffffc2;
}

.down-input {
    width: 100px;
}

.down-input:focus {
    outline: none;
}

.save-button {
    border: none;
    padding: 10px 40px;
    text-align: center;
    border-radius: 6px;
    cursor: pointer;
    letter-spacing: 1px;
    font-weight: bold;
    background-color: #D55B76;
    margin-bottom: 20px;
    border: 4px solid #ffffffc2;
}

.parsent-calc {
    display: flex;
    justify-content: center;

}

#parsent {
    padding: 0px 10px;
}


/* Responsive UI code */


@media only screen and (max-width: 600px) {
    .main-section {
        flex-direction: column;
        padding: 0px;
    }

    .calc-part {
        width: 100%;
        border-radius: 0px;
    }

    #money {
        font-size: 35px;
    }

    .money-bag {
        width: 35px;
    }

    h1 {
        font-size: 35px;
    }

    .all-inputs {
        width: 100%;
        padding-right: 40px;
    }

    .img-part {
        width: 100%;
    }
    .save-button {
        padding: 10px 30px;
    }
}